* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#socketLog {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#socketLog li {
    padding: 5px 10px;
}

#socketLog li:nth-child(odd) {
    background: #eee;
}

#argumentum {
    float: left;
    width: 60%;
}

#titulus {
    padding-top: 20px;
    z-index: 999;
    max-height: 100%;
    width: 40%;
    float: left;
    background-color: white;
    overflow-y: auto;
}

#jsonloader {
}

#jsonloader .url {
}

#jsonloader .error {
    float: left;
    clear: both;
}

#jsonloader .submit {
}

/* METHOD block */
.method {}
.method h5 {
    color: #4c4cca;
}
