* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green {
    color: #008000;
}

.red {
    color: #de2f2f;
}

.brown {
    color: #bb7608;
}

.gray {
    color: #616161;
}

.blue {
    color:#4c4cca;
}

body {
    font: 13px Helvetica, Arial;
    height: 100vh;
}

#socketLog {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#socketLog li {
    padding: 5px 10px;
    overflow: auto;
}

#socketLog li:nth-child(odd) {
    background: #eee;
}

#argumentum, #titulus {
    padding-top: 20px;
    z-index: 999;
    max-height: 100%;
    width: 40%;
    float: left;
    background-color: white;
    overflow-y: auto;
}

#argumentum {
    width: 60%;
}

/* show/hide messages according to checkboxes in Filters */
#argumentum.hide-red li.red,
#argumentum.hide-gray li.gray,
#argumentum.hide-brown li.brown,
#argumentum.hide-green li.green {
    display: none;
}

.filters {
    position: fixed;
    right: 1.2em;
    top: 0;
    background: #dddddd;
    padding: 4px 10px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #bbbbbb;
}
.filters input {
    vertical-align: bottom;
}

#data {
    list-style: none;
}

#jsonloader {
    margin-top: 20px;
}

#jsonloader .url {
}

#jsonloader .feedback {
    float: left;
    clear: both;
}

#jsonloader .submit {
}

/* SUMMARY BLOCK*/
.wsagger {
    margin-bottom: 30px;
    border-top: 1px solid #eeeeee;
}

.wsagger__summary {
}

.wsagger__title {
    font-weight: bold;
}

/* METHOD block */

.method {
}
.method__header {
    margin: 0;
}
.method__header span{
    margin-right:10px;
}

.method__body {

}

.method__details {
    padding-left: 1.2em;
}
    .method__item, .method__descr {
        display: inline-block;
    }
    .method__descr {
        line-height: 100%;
        vertical-align: top;
        width: 100%;
    }
